

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #3e4a7e, #0f49a0);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.header-button {
  background-color: #d4e1f0;
  color: #000000;
  padding: 6px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.header-button:hover {
  background-color: #000000;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left,
.right {
  width: 25%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.sr-logo {
  font-size: 64px;
  font-weight: bold;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 450px;

}

